<header class="site-header">

  <div class="wrapper">

    <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>

    <nav class="site-nav">
        <ul class="menu">
            {% for item in site.data.nav-main %}
            <li class="{% if page.current_nav == item.link %}active{% endif %}">
                <a href="{{ item.url | prepend: site.baseurl}}">{{ item.link }}</a>
            </li>
            {% endfor %}
        </ul>
    </nav>

  </div>

</header>
