---
layout: styleguide
permalink: /styleguide/
title: Client Style Guide
---
{% for item in site.styleguide %}
<h1 id="{{ item.title | slugify }}">{{ item.title }}</h1>
<section class="ss-section">
	{{ item.content }}
</section>
{% endfor %}