<!doctype html>
<html lang="en">
{% include head.html %}
<body class="page-styleguide">
<!-- Style guide-specific CSS goes here. -->
<style scoped>
	/* This styles individual sections of the style guide */
	.ss-section:not(:last-child) {
		padding-bottom: 4rem;
		border-bottom: 2px solid #ccc;
		margin-bottom: 4rem;
	}

	/* This styles code blocks used for examples. */
	.ss-code code {
		display: block;
		padding: 1rem;
		overflow-x: scroll;
		margin-bottom: 1.5rem;
	}

	/* This styles the example rows used in the grid documentation. */
	.row.display {
		background: #eee;
		font-size: 11px;
		margin-bottom: 10px;
		line-height: 2rem;
		border: solid 1px #c6c6c6;
		margin-left: 0 !important;
		margin-right: 0 !important;
	}

	.row.display .columns:nth-child(2), .row.display .columns.small-centered, .row.display .columns.large-centered {
		background: #e1e1e1;
	}

	.row.display .columns.color-end {
		background: #d4d4d4;
	}

	/* This styles the color blocks used in the color documentation. */
	.color-block {
		border-radius: 2px;
		display: block;
		padding: 8px 8px 6px;
		color: #333;
		text-transform: uppercase;
		border: 1px solid #ddd;
		box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
	}

	.color-block span {
		display: block;
		width: 100%;
		height: 100px;
		margin-bottom: 0.42857rem;
	}
</style>

<div class="column row">
	<h1>{{ page.title }}</h1>
	<p class="lead">This style guide was built with Foundation for Sites. For more information on how to use this
		responsive front-end framework, check out the documentation, get help from the Foundation community, or request
		immediate technical support.</p>
	<a href="http://foundation.zurb.com/docs/" class="button">Visit the Docs</a> <a
		href="http://foundation.zurb.com/forum/" class="secondary button">Foundation Forum</a> <a
		href="http://foundation.zurb.com/business/business-support.html" class="secondary button">Technical Support</a>
</div>

<div class="column row">
	<div class="row collapse">

		<div class="large-3 medium-4 columns" data-sticky-container>
			<ul class="vertical menu">
				{% for item in site.styleguide %}
				<li>
					<a href="#{{ item.title | slugify }}">{{ item.title }}</a>
				</li>
				{% endfor %}
			</ul>
		</div>

		<div class="large-9 medium-8 columns">
			{{ content }}
		</div>

	</div>
</div>
<script src="{{ "/dist/assets/js/app.js" | prepend: site.baseurl }}"></script>
</body>
</html>
